<%= image_tag "books.png", :alt => "Books", :title => "Books", :size => "920x120", :id => "banner" %>
<div id="events">
	<h2>Próximos Eventos</h2>
	<ul>
	<% @events.each do |event| %>
		<li>
			<% link_to event_path(event.permalink) do %>
				<small><%= l(event.happens_on, :format => :short) %></small>
				<h3><%= event.name.summary 30 %></h3>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>
<div id="births">
	<h2>Aniversariantes</h2>
<% if @users.any? %>
	<ul>
	<% @users.each do |user| %>	
		<li>
			<% link_to user_path(user) do %>
				<%= image_tag user.avatar.url(:thumb), :size => "70x80" if user.avatar.url.present? %>
				<h3><%= user.name %></h3>
				<% if user.birthday.present? %>	
					<big><%= l(user.birthday, :format => :short) %></big>
					<small><%= "#{user.age} anos" if user.birthday.present? %></small>
				<% end %>
			<% end %>
		</li>
	<% end %>
	</ul>
<% else %>
	Nenhum aniversariante<br/>
	no mês de <%= l(Date.today, :format => :only_month) %>
<% end %>
</div>
<div id="procedures">
	<h2>Procedimentos</h2>
	<%= render :partial => 'procedures/search' %>
	<h2>Últimos Cadastrados</h2>
	<ul>
	<% @procedures.each do |procedure| %>		
		<li><%= link_to procedure.name.summary(45), procedure_path(procedure.permalink) %></li>
	<% end %>				
	</ul>
</div>