<ul id="menu">
	<li><%= link_to "Departamentos", admin_departments_path %></li>
	<li><%= link_to "Funcionários", admin_users_path %></li>
	<li><%= link_to t(:menu_pages), admin_pages_path %></li>
	<li><%= link_to "Eventos", admin_events_path %></li>
	<li><%= link_to "Procedimentos", admin_procedures_path %></li>
</ul>