<%= image_tag "books.png", :alt => "Books", :title => "Books", :size => "920x120", :id => "banner" %>
<% form_for @user_session, :url => user_session_path, :html => {:id => "login"} do |f| %>
	<h2>Login</h2>
	<%= f.error_messages %>
	<%= f.label :login, "Username:" %>
	<%= f.text_field :login %>

	<%= f.label :password, "Senha:" %>
	<%= f.password_field :password %>

	<%= submit_tag("Login", :class => "submit")%>
	<p class="break">&nbsp;</p>
	<p class="break">&nbsp;</p>
<% end %>
<%= javascript "plugins/corner", "users/new" %>